<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <script src="../index.js" type="text/javascript"></script>
    <h1>Home</h1>
    <h3>This is the home page......</h3>
    <div>
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="desc">Description</label><br>
        <input type="text" id="desc" name="desc"><br>
        <input type="submit" onclick="onBtnPressed()">
    </div>
    <script>
        function onBtnPressed() {
            console.log("onBtnPressed");
            var title= document.querySelector('#title');
            console.log(title.value);
        }
    </script>
</body>
</html>